* {
    margin: 0;
    padding: 0;
}

body {
    background: #8c52ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Changed from 80vh to 100vh for full viewport height */
    margin: 0;
    overflow: hidden;
    /* Prevent body scroll */
}

input {
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
}

button {
    margin-bottom: 20px;
    background-color: #debff4;
    color: white;
    padding: 1.2vh;
    border-radius: 10px;
    cursor: pointer;
    width: 12%;
    font-size: 15px;
}

button:hover {
    background: #8b48d7;
}

#temp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
}

#weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

#weather-icon {
    display: block;
    margin: 0 auto 20px auto;
}

#hourly-forecast {
    display: flex;
    overflow-x: auto;
    padding-left: 50vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    height: 140px;
    /* Adjust height as necessary */
}

.hourly-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 50px;
    height: 50px;
}